@import '../mixins/images.scss';
#main-picture{
    height: 500px;
    width: 100%;
    @include background('/assets/images/paris.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0px;
    z-index: -1;

}

.main-title {
    padding: 50px;
    width: 500px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    color: white;
    border-top: 2px solid  #0055A4;
    border-bottom: 2px solid #EF4135;
}
